.delivery-agent-body{
    background-color: #E8F5E9;
    color: #64748B;
}
 
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.h1-agent{
    font-weight: 900;
    font-size: 30px;
    color: #388E3C;
}

.h2-agent{
    font-weight: 700;
    font-size: 15px;
    color: #388E3C;
}

.h3-agent {
    font-weight: 600;
    font-size: 20px;
    
}

.h4-agent{
    font-weight: 500;
    font-size: 15px;
    color: #1C1C1C;
}

.input-agent{

    padding: '10px';
    margin-top: '10px';
    width: '250px';
    border-radius: '5px';
    border: '1px solid #ccc';

    padding: 10px;
    margin-top: 10px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #4ADE80;

    background-color: #E8F5E9;
}

.agent-input-field {
  width: 100%;
  padding: 8px; 
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: border 0.3s ease;
  outline: none;
  background-color: #F0FDF4;
}

.agent-input-field:focus {
  border: 2px solid #4ADE80;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.agent-btn{
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    background-color: #4ADE80;
    color: white;
    font-weight: 900;
    font-size: large;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease;
}
 
.agent-btn:hover {
    background-color: #16a34a;
}

.hr-agent {
    border-top: 3px solid #4ADE80;
    font-weight: 3;
}

.heading-agent {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

span {
    color: black;
    font-weight: 400;
}

p{
    font-weight: 200;
}