.admin-app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 0 200px 0 200px; 
  background-color: #F1F5F9;
  border-bottom: 1px solid #ddd;
  height: 60px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.admin-header-right {
  display: grid;
  grid-auto-flow: column;
  gap: 25px;
  align-items: center;
}

.admin-profile-image {
    height: 40px;
    width: 40px; 
    color: #64748B;
}

.admin-user-name {
    font-size: 20px;
    font-weight: 900;
    color: #64748B;
}

.admin-logout-icon {
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  color: #64748B;
  transition: color 0.2s ease-in-out;
}

.admin-logout-icon:hover {
  color: #0EA5E9;
}
