/* Floating submenu */
.sidebar-menu-with-submenu {
  position: relative;
}

.submenu-parent {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  cursor: pointer;
  font-size: 0.95rem;
  color: #1f2937;
  transition: background 0.2s ease;
}

.sidebar-menu-with-submenu:hover .floating-submenu {
  display: block;
}

.floating-submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 0.5rem;
  background: #F1F5F9;
  border: 1px solid #e5e7eb;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  border-radius: 0.5rem;
  z-index: 10;
  padding: 0.5rem 0;
}

.floating-submenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.config-submenu-link {
  display: block;
  padding: 0.6rem 1rem;
  color: #374151;
  font-size: 0.9rem;
  text-decoration: none;
  transition: background 0.2s;
}

.config-submenu-link:hover {
  background-color: #e0f2fe;
  cursor: pointer;
  color: #1d4ed8;
}

.config-submenu-link.active {
    background-color: #0EA5E9;
    font-weight: bold;
    color: #fafafa;
}

/* .nested-menu {
  position: relative;
}

.geo-submenu {
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #ffffff;
  border-left: 1px solid #e5e7eb;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
  min-width: 200px;
  z-index: 99;
}

.geo-submenu li {
  padding: 0.5rem 1rem;
}

.geo-submenu li:hover {
  background-color: #f3f4f6;
}

.config-submenu-link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #111827;
}

.config-submenu-link.active {
  background-color: #e0f2fe;
  font-weight: 600;
} */
